@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="row my-4">
        <div class="col-lg-4">
            <img class="img-fluid rounded" src="~/images/About.jpg" alt="About" />
        </div>
        <div class="col-lg-8">
            <h2>@ViewData["Title"]</h2>
            <p>Use this area to provice additional information.</p>
            <p>lfjdkjfkldasklfdjsjfdsjflk</p>
            <p>jfdlkjkfjdkfjkdsjfkljdsfjkldsj</p>
        </div>
    </div>
</div>